{% extends 'admin/change_form_object_tools.html' %}

{% block object-tools-items %}
    <li>
        <a id="id_btn_create_ods_table_ddl">ods建表DDL</a>
    </li>
    <li>
        <a id="id_btn_create_emr_table_ddl">emr建表DDL</a>
    </li>
{#    CREATE EXTERNAL TABLE cannot run inside a transaction block #}
    <li>
        <a id="id_btn_create_ods_table">ods建表</a>
    </li>
{#    <li>#}
{#        <a id="id_btn_create_emr_table">emr建表</a>#}
{#    </li>#}
    <li>
        <a id="id_btn_export">导出terraform配置文件</a>
    </li>
    {{ block.super }}
{% endblock %}
